* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none !important;
}

.page {
  padding-left: 15px;
  padding-right: 0;
  background: #F2F2F2;
  /* social icons */
}

.page #main-nav {
  width: 100%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page #main-nav .profile-photo {
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;
}

.page #main-nav .nav-links {
  width: 243px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page #main-nav .nav-links a {
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #000000;
}

.page .brief-intro {
  margin-top: 40px;
}

.page .brief-intro h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.page .brief-intro .welcome-msg {
  font-size: 16px;
  line-height: 30px;
  color: #727274;
  padding-right: 20px;
}

.page .my-works-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #525252;
}

.page ul.social-network {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
  margin: 10px auto;
  padding-left: 0;
}

.page ul.social-network li {
  margin: 0 5px;
  list-style: none;
}

.page .social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.page .social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.page .social-network a.icoGitHub:hover {
  background-color: #222;
}

.page .social-network a.icoTwitter:hover {
  background-color: #2af;
}

.page .social-network a.icoInstagram:hover {
  background-color: #222;
}

.page .social-network a {
  background-color: #F9855B;
}

.page .social-circle i {
  margin: 0;
  line-height: 30px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.page .social-circle:hover i {
  color: #fff;
}

.page .social-circle a {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.page .social-circle a:hover i {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page .my-best-works-heading {
  margin-top: 10px;
  font-weight: 800;
  font-size: 28px;
  line-height: 29px;
  color: #000000;
}

.page .work-wrap {
  width: 100%;
  padding-left: 0;
}

.page .screenshots-wrap {
  max-width: 400px;
  margin: 0 auto;
  padding-left: 0;
}

.page .screenshots-wrap .work-1 {
  padding-left: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), color-stop(98.35%, rgba(0, 0, 0, 0))), url(../images/mobile/rails-s.png);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(../images/mobile/rails-s.png);
}

.page .screenshots-wrap .work-2 {
  padding-left: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), color-stop(98.35%, rgba(0, 0, 0, 0))), url(../images/mobile/rails-2.png);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(../images/mobile/rails-2.png);
}

.page .screenshots-wrap .work-3 {
  padding-left: 10px;
  background: linear-gradient(180.12deg, rgba(0, 0, 0, 0.264) -18.68%, rgba(0, 0, 0, 0) 44.86%), url(../images/mobile/html-s.png);
}

.page .screenshots-wrap .work-4 {
  padding-left: 10px;
  background: linear-gradient(180.12deg, rgba(0, 0, 0, 0.264) -18.68%, rgba(0, 0, 0, 0) 44.86%), url(../images/mobile/weatherapp-s.png);
}

.page .screenshots-wrap .work-5 {
  padding-left: 10px;
  background: linear-gradient(180.12deg, rgba(0, 0, 0, 0.264) -18.68%, rgba(0, 0, 0, 0) 44.86%), url(../images/mobile/rest-s.png);
}

.page .screenshots-wrap .screenshots {
  max-width: 400px;
  height: 260px;
  background-size: cover;
  margin: 15px auto;
}

.page .screenshots-wrap .screenshots .proj-title {
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  color: #FFFFFF;
}

.page .screenshots-wrap .details-btn-wrap {
  max-width: 400px;
}

.page .screenshots-wrap .details-btn-wrap .proj-detail-btn {
  width: 100%;
  display: block;
  margin: 24px auto;
  color: #fff;
  background: #F9855B;
  font-weight: 500;
  font-size: 16px;
  line-height: 37px;
  text-align: center;
}

.page .lang-list {
  margin: 0 auto;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.page .lang-list button {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background: #423B39;
  cursor: none;
}

.page .lang-list button:focus {
  outline: none;
}

.page .lang-list .html-btn {
  width: 28%;
  height: 30px;
}

.page .lang-list .rails-btn {
  width: 38%;
  height: 30px;
}

.page .lang-list .js-btn {
  width: 28%;
  height: 30px;
}

.page .modal-body .lang-list {
  width: 303px;
  margin-top: 30px;
}

.page .modal-body .screenshots {
  width: 342px;
  height: 189px;
}

.page .modal-body .pro-title {
  font-weight: 800;
  font-size: 28px;
  line-height: 29px;
  color: #000000;
  width: 303px;
  margin: 0 auto;
  margin-top: 30px;
}

.page .modal-body .pro-detail-text {
  width: 303px;
  font-size: 16px;
  line-height: 24px;
  color: #727274;
  margin: 0 auto;
  text-align: justify;
  margin-top: 20px;
}

.page .modal-body .buttons-wrap {
  width: 303px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page .modal-body .buttons-wrap a {
  margin-top: 20px;
  display: block;
  background: #F9855B;
  font-weight: bold;
  font-size: 16px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
}

.page #about-me-heading {
  font-weight: 800;
  font-size: 28px;
  line-height: 29px;
  color: #000000;
  margin-top: 40px;
}

.page .about-me-txt {
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  padding-right: 2%;
}

.page .get-resume {
  display: inline-block;
  width: 225px;
  font-weight: 500;
  font-size: 16px;
  line-height: 59px;
  color: #FFFFFF;
  text-align: center;
  background: #F9855B;
}

.page .get-resume:hover {
  font-weight: bold;
}

.page .lang-section,
.page .skills-section,
.page .framework-section {
  margin-top: 40px;
  margin-right: 16px;
  border-bottom: 1px solid #CFD2DA;
}

.page .lang-section .heading,
.page .skills-section .heading,
.page .framework-section .heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
}

.page .lang-section p,
.page .skills-section p,
.page .framework-section p {
  font-size: 16px;
  color: #727274;
}

.page .skills-section {
  border: none;
}

.page #contact-section {
  height: 900px;
  background: #F9855B;
  padding-top: 40px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.page #contact-section .contact-heading {
  font-weight: 800;
  font-size: 28px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.page #contact-section .contact-text {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
  text-align: center;
  margin-left: 15px;
  margin-top: 30px;
  padding-right: 2%;
}

.page #contact-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 332px;
  margin: 0 auto;
}

.page #contact-section form input {
  width: 90%;
  height: 59px;
  padding: 20px;
  margin-top: 30px;
}

.page #contact-section form textarea {
  width: 90%;
  height: 185px;
  padding: 20px;
  margin-top: 30px;
}

.page #contact-section form .contact-button {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  background: #000000;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page #contact-section .social-network {
  max-width: 324px;
  padding-left: 0;
  margin-top: 70px;
}

.page #contact-section .social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.page #contact-section .social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.page #contact-section .social-network a.icoGitHub:hover {
  background-color: #222;
}

.page #contact-section .social-network a.icoTwitter:hover {
  background-color: #2af;
}

.page #contact-section .social-network a.icoInstagram:hover {
  background-color: #222;
}

.page #contact-section .social-network a {
  background-color: #fff;
}

.page #contact-section .social-circle i {
  color: #F9855B;
}

.page #contact-section .footer-border {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  border-bottom: 1px solid #FFA07D;
}
/*# sourceMappingURL=style.css.map */